In [ ]:
#Control Statement
# if--else---elif
a = int(input("Enter your Age :"))
if a > 18:
 print('Welcome to TCS')
else:
  print('Sorry to TCS')

Enter your Age :19
Welcome to TCS

In [ ]:
a = int(input("Enter a number :"))
b = a % 2
if b > 0:
  print('Odd')
else:
  print('Even')

Enter a number :20
Odd

In [ ]:
 a = int(input("Enter a number :"))
if (a % 2) == 0:
  print('Even')
else:
  print('Odd')

Enter a number :10
Even

In [ ]:
a = float(input("Enter a number of Subject1 :"))
if a >= 90:
  print('O')
if a>=80 and a<=89:
  print('E')
if a>=70 and a<80:
  print('A')
if a<=69 and a>=60:
  print('B')
if a<=59 and a>=50:
  print('C')
if a>=40 and a<=49:
  print('D')
if a<40:
  print('F')

Enter a number of Subject1 :80

In [ ]:
a = int(input("Enter a number of Subject1 :"))
if a >= 90:
  print('O')
elif a>80 and a<=89:
  print('E')
elif a>=70 and a<=79:
  print('A')
elif a<=69 and a>=60:
  print('B')
elif a<=59 and a>=50:
  print('C')
elif a>=40 and a<=49:
  print('D')
else:
  print('F')

Enter a number of Subject1 :30
F

In [ ]:
a = (10,20,20,30,10,10,10)
a.count(10)

4