In [ ]:
# For 
a = 'h'
b = [10,20,30,40,50]
for i in b:
  print(i)

10
20
30
40
50

In [ ]:
b = [10,20,30,40,50,60,70]
i = 1
j = 0
c = len(b)
while i <= c:
  print(b[j])
  i+=1
  j+=1

10
20
30
40
50
60
70

In [ ]:
'''1 2 3 4 5
6 7 8 9 10
11 12 13 14 15
16 17 18 19 20'''
for i in range(1,5):
  for j in range(1,6):
    print(j, end=' ')
  print()

1 2 3 4 5
1 2 3 4 5
1 2 3 4 5
1 2 3 4 5